table, td input {
	border-collapse: collapse;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	border: 0;
}
table, td, th{
	border: 1px solid black;
}
th {
	background-color: yellow;
}

.oddelovac {
page-break-before: always;
page-break-after: always;
}